.container {
  min-height: 100vh;
  height: 100vh;
  width:100%;
}

.main {
  display: flex;
  height: 100%;
}

.editorWrapper {
    background-color: white;
    flex: 1;
    position: relative;
}

.inspectorWrapper {
    flex: 0 0 15rem;
    background-color: #f7fafc;
    overflow-y: auto;
    overflow-x: visible;
    border-left: 1px solid #cad5de;
}

.header {
  padding: 4px;
  color: white;
  background-color: var(--elephant);
  align-items: center;
  display: flex;
}

.brand {
  padding: 4px;
  font-weight: bold;
}

.toggleWrap {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
}

.toggleLabel {
  padding-left: 8px;
  padding-right: 8px;
}
